﻿<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome file</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><blockquote>
<p>use App\Http\Controllers\HiController;</p>
<p>use App\Http\Controllers\UserController;</p>
<p>use App\Http\Controllers\Front\UsersController;</p>
<p>use App\Http\Controllers\Admin\AdminController;</p>
<p>use Illuminate\Support\Facades\Route;</p>
<p>**  Web Routes**<br>
Here is where you can register web routes for your application.<br>
These<br>
routes are loaded by the RouteServiceProvider within a group which<br>
contains the “web” middleware group. Now create something great!</p>
</blockquote>
<h1 id="route">// ! Route</h1>
<h1 id="basic-routing">// ! Basic Routing</h1>
<pre><code>Route::get('/', function () {

return  view('welcome');

});

Route::get('greeting', function () {

return  'Hello World';

});

Route::get('test1', function () {

return  "test1";

});

 Route::get('test', function () {
 
 return view('test');
});
</code></pre>
<h2 id="ارسال-متغير-لل-view"><strong>ارسال متغير لل view</strong></h2>
<pre><code>Route::get('test', function () {

return  view('test', ['name' =&gt; 'James']);

});
</code></pre>
<h2 id="controller-routing">// ! Controller Routing</h2>
<pre><code>Route::get('hii', [UserController::class, 'index']);

Route::get('hi',[HiController::class , "index"]);
</code></pre>
<p>// ________________________________________________________________</p>
<h2 id="available-router-methods">// ! Available Router Methods</h2>
<pre><code>Route::get('hi',[HiController::class , "index"]);

// Route::post('post', function () {

// return "users";

// });

// Route::put('put', function () {

// return "users";

// });

// Route::patch("patch", function () {

// return "users";

// });

// Route::delete("delete", function () {

// return "users";

// });

// Route::options("options", function () {

// return "users";

// });
</code></pre>
<hr>
<blockquote>
<p>Sometimes you may need to register a route that responds to multiple<br>
HTTP verbs.</p>
<p>You may do so using the match method. Or,</p>
<p>you may even register a route that responds to all HTTP verbs using<br>
the any method:</p>
<p>احيانا بنحتاج إلى راوت بستجيب للعديد من الافعال HTTP</p>
<p>بنقدر نستخدم ونحدد فيها نوع الفعل يلي بدنا ياه get or post MATCH</p>
<p>any او بنستخدم للأستجابة لكل الانواع</p>
</blockquote>
<pre><code>Route::match(['get', 'post'], 'match', function () {

return  "hello from match";

});

  

Route::any('any', function () {

return  "hello from any";

});
</code></pre>
<h2 id="basic-routing-with-parameters">// ! Basic Routing with Parameters</h2>
<blockquote>
<h1 id="requer">// ! Requer</h1>
</blockquote>
<pre><code>Route::get('test2/{id}', function ($id) {

return  $id;

});
</code></pre>
<h1 id="not-requer"><code>// ! not Requer</code></h1>
<pre><code>Route::get('test3/{id?}', function () {

return  'welcome' ;

});

// Route::get('posts/{post}/comments/{comment}', function ($postId, $commentId) {

// return $postId ." " .$commentId;

// });
</code></pre>
<hr>
<h2 id="route-name">// ! Route name</h2>
<blockquote>
<p>بفيدني لما بدي اعمل اعادة توجيه للراوت او بدي ارجع استخدمو في الفيو<br>
يعني لما بدي اكتبو جوا رابط مافي داعي اكتب المسار بتخصر بكتب فقط متل<br>
المثال تحت داخل الفيو فهو يسمح بإنشاء عمليات إعادة توجيه ملائمة أو<br>
انشاء مسار محدد</p>
<p>ملاحظة:</p>
<p>! اسم الراوت لازم يكون فريد مابصير يتكرر ابدا</p>
<p>Route::get(…)-&gt;name(‘b’);</p>
<p>#View code</p>
<p><a href="{{ route('a') }}">show-number</a></p>
<p><a href="{{ route('b') }}">show-string</a></p>
</blockquote>
<h1 id="route-code"><code>/ ? Route code</code></h1>
<pre><code>Route::get('show-number', function () {

return  'show-number';

})-&gt;name('show-number');

Route::get('show-string', function () {

return  'show-string';

})-&gt;name('show-string');
</code></pre>
<hr>
<h2 id="route-prefixes">// ! Route Prefixes</h2>
<blockquote>
<p>تستخدم لتحديد بادئة مجموعة</p>
<p>الرابط رح يكون admin/users</p>
<p>الفائدة بل ما اكتب قبل كل Route في المجموعة</p>
<p>admin</p>
<p>بكتبا مرة وحدة فوق من شان تبلش المجموعة كلا بنفس البادئة</p>
<p>بستخدما لما بدي صفحات ما حدا يدخل عليها غير لما بكتب</p>
<p>URL بأيدي</p>
<p>متل الصفحات المهمة صفحات الادمن بشفر الرابطن تبعن</p>
<p>يعني المجموعة كلا بتبش بنفس البداية</p>
</blockquote>
<pre><code>Route::prefix('admin')-&gt;group(function () {

Route::get('users', function () {

// ! Matches The "/admin/users" URL

return  "from prefix";

})-&gt;name('users');

});
</code></pre>
<hr>
<h2 id="route-name-prefixes">// ! Route Name Prefixes</h2>
<blockquote>
<p>admin. بضيف لاسم كل الراوت قبلن</p>
<p>حتى اسبق كل اسم مسار بسلسلة نصية معينة بدي كل المجموعة تبلش فيا</p>
</blockquote>
<pre><code>Route::name('admin.')-&gt;group(function () {

Route::get('users', function () {

// Route assigned name "admin.users"...

return  "users";

})-&gt;name('users');

});
</code></pre>
<hr>
<h2 id="routeresource">Route::resource</h2>
<pre><code> Route::resource('news', 'NewsController');
</code></pre>
<hr>
<h2 id="route-namespace">// ! Route namespace</h2>
<blockquote>
<p>تعين مجال الأسماء الملف لكل راوت من الراوت الموجودة ضمن المجموعة</p>
<p>Controllers بستخدم من شان اقسم ملقات</p>
<p>route::namespace فلازم احط</p>
<p>انو دير بالك هو موجود جوا مجلد يلي اسمو كذا</p>
<p>اما بلارافل 8 بكفي اعمل ues</p>
<p>use App\Http\Controllers\Admin\AdminController;</p>
</blockquote>
<pre><code>route::namespace('Front')-&gt;group(function ()

{

// ! all Route only access controller or methods in folder name Front (F) cabital

Route::get('welcome', function () {

return  'welcome';

});

Route::get('FrontUsers', [UsersController::class, 'index']);  }
</code></pre>
<blockquote>
<p>Route::namespace(‘Admin’) == Route::group([‘namespace’=&gt;‘Admin’]</p>
</blockquote>
<pre><code>// Route::namespace('Admin')-&gt;group(function () {

// ! Controllers Within The "App\Http\Controllers\Admin" Namespace

// Route::get('Admins', [AdminController::class, 'index'])-&gt;name('Admins');

// });

  

Route::group(['namespace'=&gt;'Admin'],function(){

// ! Controllers Within The "App\Http\Controllers\Admin" Namespace

Route::get('Admins', [AdminController::class, 'index'])-&gt;name('Admins');

Route::get('admin', [AdminController::class, 'index']);

Route::get('hiAdmin', [AdminController::class, 'index']);

});

Route::prefix('Admin')-&gt;group(function () {

Route::get('prefixAdmins', [AdminController::class, 'index'])-&gt;name('prefixAdmins');

});
</code></pre>
<hr>
<h2 id="route-middleware">// ! Route middleware</h2>
<blockquote>
<p>أي راوت جوا هل غروب كابصير يدخل عليه حدا إذا مالو مسجل دخول</p>
<p>web الافتراضي يعني أي احد داخل بدون تسجيل او الضيف</p>
<p>auth يعني يوزر عضو مسجل</p>
<p>auth:web يعني يوزر عضو مسجل</p>
</blockquote>
<pre><code>// Route::middleware(['auth'])-&gt;group(function () {

// Route::get('user/profile', function () {

// return "hiiii";

// });

// });

// Route::middleware(['first', 'second'])-&gt;group(function () {

// Route::get('/', function () {

// // Uses first &amp; second middleware...

// });

  

// Route::get('/user/profile', function () {

// // Uses first &amp; second middleware...

// });

// });

  

// Route::get('check', function () {

// return 'middleware';

// })-&gt;middleware('auth');
</code></pre>
<hr>
<h2 id="route-send-data-to-view">// ! Route Send Data to view</h2>
<pre><code>Route::get('send/{id}', function ($id)

{

return  view('send',Compact('id'));

});

Route::get('sd', function ()

{

return  view('send')-&gt;with('data',2);

});

Route::get('sd1', function ()

{

return  view('send')-&gt;with(['string' =&gt; "hi","int"=&gt;5] );

});

Route::get('sd11', function ()

{

return  view('send');

});
</code></pre>
<hr>
<h2 id="route-group">// ! Route group</h2>
<blockquote>
<p>يسمح في مشاركة خواص الراوت مثل</p>
<p>prefix,middleware,namespace</p>
<p>على عدد كبير من الراوت داخل غروب بدل كتابة نوع الخاصية لكل راوت</p>
<p>كما يمكن دمج اكثر من خاصية معا</p>
<p>إذا خاصية وحدة لازم بلش فيا</p>
</blockquote>
<pre><code>// Route::group(['prefix' =&gt; 'users','middleware' =&gt; 'auth'],function()

// {

// Route::get('/', function () {

// return 'work';

// });

// Route::get('show', function () {

// return 'show';

// });

// Route::delete('delete', 'UsersController@showAdminName');

// Route::get('show', 'UsersController@showAdminName');

// Route::get('edit', 'UsersController@showAdminName');

// Route::put('update', 'UsersController@showAdminName');

// });
</code></pre>
<hr>
<blockquote>
<p>RouteAdmin لازم افصل</p>
<p>عن المستخدمين من شان اقسمن اول شي بنشىء ملف للراوت بعدا بروح على</p>
<p>RouteServiceProvider بعدل فيه بضيف</p>
<p>Route::middleware(‘web’)</p>
<p>-&gt;namespace($this-&gt;namespace)</p>
<p>-&gt;group(base_path(‘routes/admin.php’));</p>
</blockquote>
<hr>
<blockquote>
<p>// ! Route view</p>
</blockquote>
<pre><code>Route::view('URI', 'send');
</code></pre>
</div>
</body>

</html>
