﻿<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome file</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><h1 id="blade-templates"><a href="https://laravel.com/docs/8.x/blade">Blade Templates</a></h1>
<blockquote>
<p>@extends(‘layout.app’) بورث صفحة كاملة مع كل شي فيا لصفحة تانية<br>
@section(‘title’)   إذا بدي اعمل قسم واعدل عليه اكتب اكواد …<br>
@parent بتعرض الاب<br>
testsection نص جوا<br>
@endsection @stop   لحتى انهيه اي وحدة من التنتين<br>
@yield(‘content’)  هون انو بدي عدل بهاد في الصفة الابن<br>
@include(“layout.script”) بورث صفحة بس مالي بحاجة عدل عليها متل شغلات الثابتة</p>
</blockquote>
<p><strong>مثال على صفحة</strong></p>
<pre><code>@extends('layout.app')

@section('title')

test

@endsection

@section('sidebar')

&lt;p&gt;@parent&lt;/p&gt;

ghfdgfdgdfgfd

&lt;h1&gt;{{  date('Y-m-d') }}&lt;/h1&gt;

@stop

@section('content')

{{  $name  }}

@endsection

@section('footer')

footer footer footer

  

@endsection
</code></pre>
<hr>
<h1 id="displaying-data">Displaying Data</h1>
<p>لأستقبال المتغيرات جوا الصفحة</p>
<pre><code>Hello, {{ $name }}.
</code></pre>
<h4 id="displaying-unescaped-data">Displaying Unescaped Data</h4>
<p>By default, Blade <code>{{ }}</code> statements are automatically sent through PHP’s <code>htmlspecialchars</code> function to prevent XSS attacks. If you do not want your data to be escaped, you may use the following syntax<br>
هاد بسمح يدخلو تاغات html</p>
<pre><code>{!!  $name  !!} 
</code></pre>
<hr>
<h1 id="csrf-protection--للتأمين-حماية">CSRF Protection 	للتأمين حماية</h1>
<p>بدونها بطلع خطأ 419</p>
<pre><code>&lt;form method="POST" action="/profile"&gt;
    @csrf
    ...
&lt;/form&gt;
</code></pre>
<hr>
<h1 id="blade-directives">Blade Directives</h1>
<h3 id="if-statements"><a href="https://laravel.com/docs/8.x/blade#if-statements">If Statements</a></h3>
<p>You may construct <code>if</code> statements using the <code>@if</code>, <code>@elseif</code>, <code>@else</code>, and <code>@endif</code> directives. These directives function identically to their PHP counterparts:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token function">count</span><span class="token punctuation">(</span><span class="token variable">$records</span><span class="token punctuation">)</span> <span class="token operator">===</span> <span class="token number">1</span><span class="token punctuation">)</span>
    I have one record<span class="token operator">!</span>
@<span class="token keyword">elseif</span> <span class="token punctuation">(</span><span class="token function">count</span><span class="token punctuation">(</span><span class="token variable">$records</span><span class="token punctuation">)</span> <span class="token operator">&gt;</span> <span class="token number">1</span><span class="token punctuation">)</span>
    I have multiple records<span class="token operator">!</span>
@<span class="token keyword">else</span>
    I don't have any records<span class="token operator">!</span>
@<span class="token keyword">endif</span>
</code></pre>
<p>For convenience, Blade also provides an <code>@unless</code> directive:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token function">unless</span> <span class="token punctuation">(</span>Auth<span class="token punctuation">:</span><span class="token punctuation">:</span><span class="token function">check</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span>
    You are not signed in<span class="token punctuation">.</span>
@endunless
</code></pre>
<p>In addition to the conditional directives already discussed, the <code>@isset</code> and <code>@empty</code> directives may be used as convenient shortcuts for their respective PHP functions:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token function">isset</span><span class="token punctuation">(</span><span class="token variable">$records</span><span class="token punctuation">)</span>
    <span class="token comment">// $records is defined and is not null...</span>
@endisset

@<span class="token function">empty</span><span class="token punctuation">(</span><span class="token variable">$records</span><span class="token punctuation">)</span>
    <span class="token comment">// $records is "empty"...</span>
@endempty
</code></pre>
<hr>
<h4 id="authentication-directives"><a href="https://laravel.com/docs/8.x/blade#authentication-directives">Authentication Directives</a></h4>
<p>The <code>@auth</code> and <code>@guest</code> directives may be used to quickly determine if the current user is <a href="https://laravel.com/docs/8.x/authentication">authenticated</a> or is a guest:</p>
<p>إذا المستخدم مسجل ولا لأ ياعني عامل auth</p>
<pre class=" language-php"><code class="prism  language-php">@auth
    <span class="token comment">// The user is authenticated...</span>
@endauth

@guest
    <span class="token comment">// The user is not authenticated...</span>
@endguest
</code></pre>
<p>If needed, you may specify the authentication guard that should be checked when using the <code>@auth</code> and <code>@guest</code> directives:</p>
<p>إذا نوع المستخدم ادمن نفذ</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token function">auth</span><span class="token punctuation">(</span><span class="token string">'admin'</span><span class="token punctuation">)</span>
    <span class="token comment">// The user is authenticated...</span>
@endauth

@<span class="token function">guest</span><span class="token punctuation">(</span><span class="token string">'admin'</span><span class="token punctuation">)</span>
    <span class="token comment">// The user is not authenticated...</span>
@endguest
</code></pre>
<hr>
<h4 id="section-directives"><a href="https://laravel.com/docs/8.x/blade#section-directives">Section Directives</a></h4>
<p>You may determine if a template inheritance section has content using the <code>@hasSection</code> directive:</p>
<pre class=" language-html"><code class="prism  language-html">@hasSection('navigation')
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>pull-right<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
        @yield('navigation')
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>

    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>clearfix<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
@endif
</code></pre>
<p>You may use the <code>sectionMissing</code> directive to determine if a section does not have content:</p>
<pre class=" language-html"><code class="prism  language-html">@sectionMissing('navigation')
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>pull-right<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
        @include('default-navigation')
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
@endif
</code></pre>
<hr>
<h3 id="switch-statements"><a href="https://laravel.com/docs/8.x/blade#switch-statements">Switch Statements</a></h3>
<p>Switch statements can be constructed using the <code>@switch</code>, <code>@case</code>, <code>@break</code>, <code>@default</code> and <code>@endswitch</code> directives:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token keyword">switch</span><span class="token punctuation">(</span><span class="token variable">$i</span><span class="token punctuation">)</span>
    @<span class="token keyword">case</span><span class="token punctuation">(</span><span class="token number">1</span><span class="token punctuation">)</span>
        First <span class="token keyword">case</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
        @<span class="token keyword">break</span>

    @<span class="token keyword">case</span><span class="token punctuation">(</span><span class="token number">2</span><span class="token punctuation">)</span>
        Second <span class="token keyword">case</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
        @<span class="token keyword">break</span>

    @<span class="token keyword">default</span>
        <span class="token keyword">Default</span> <span class="token keyword">case</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
@<span class="token keyword">endswitch</span>
</code></pre>
<hr>
<h3 id="loops"><a href="https://laravel.com/docs/8.x/blade#loops">Loops</a></h3>
<p>In addition to conditional statements, Blade provides simple directives for working with PHP’s loop structures. Again, each of these directives functions identically to their PHP counterparts:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token keyword">for</span> <span class="token punctuation">(</span><span class="token variable">$i</span> <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span> <span class="token variable">$i</span> <span class="token operator">&lt;</span> <span class="token number">10</span><span class="token punctuation">;</span> <span class="token variable">$i</span><span class="token operator">++</span><span class="token punctuation">)</span>
    The current value is <span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$i</span> <span class="token punctuation">}</span><span class="token punctuation">}</span>
@<span class="token keyword">endfor</span>

@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>
    <span class="token operator">&lt;</span>p<span class="token operator">&gt;</span>This is user <span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">id</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>p<span class="token operator">&gt;</span>
@<span class="token keyword">endforeach</span>

@<span class="token function">forelse</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>
    <span class="token operator">&lt;</span>li<span class="token operator">&gt;</span><span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">name</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>li<span class="token operator">&gt;</span>
@empty
    <span class="token operator">&lt;</span>p<span class="token operator">&gt;</span>No users<span class="token operator">&lt;</span><span class="token operator">/</span>p<span class="token operator">&gt;</span>
@endforelse

@<span class="token keyword">while</span> <span class="token punctuation">(</span><span class="token boolean">true</span><span class="token punctuation">)</span>
    <span class="token operator">&lt;</span>p<span class="token operator">&gt;</span>I'm looping forever<span class="token punctuation">.</span><span class="token operator">&lt;</span><span class="token operator">/</span>p<span class="token operator">&gt;</span>
@<span class="token keyword">endwhile</span>
</code></pre>
<p>When using loops you may also end the loop or skip the current iteration using the <code>@continue</code> and <code>@break</code> directives:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>
    @<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">type</span> <span class="token operator">==</span> <span class="token number">1</span><span class="token punctuation">)</span>
        @<span class="token keyword">continue</span>
    @<span class="token keyword">endif</span>

    <span class="token operator">&lt;</span>li<span class="token operator">&gt;</span><span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">name</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>li<span class="token operator">&gt;</span>

    @<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">number</span> <span class="token operator">==</span> <span class="token number">5</span><span class="token punctuation">)</span>
        @<span class="token keyword">break</span>
    @<span class="token keyword">endif</span>
@<span class="token keyword">endforeach</span>
</code></pre>
<p>You may also include the continuation or break condition within the directive declaration:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>
    @<span class="token keyword">continue</span><span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">type</span> <span class="token operator">==</span> <span class="token number">1</span><span class="token punctuation">)</span>

    <span class="token operator">&lt;</span>li<span class="token operator">&gt;</span><span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">name</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>li<span class="token operator">&gt;</span>

    @<span class="token keyword">break</span><span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">number</span> <span class="token operator">==</span> <span class="token number">5</span><span class="token punctuation">)</span>
@<span class="token keyword">endforeach</span>
</code></pre>
<hr>
<h3 id="the-loop-variable"><a href="https://laravel.com/docs/8.x/blade#the-loop-variable">The Loop Variable</a></h3>
<p>When looping, a <code>$loop</code> variable will be available inside of your loop. This variable provides access to some useful bits of information such as the current loop index and whether this is the first or last iteration through the loop:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>
    @<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$loop</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">first</span><span class="token punctuation">)</span>
        This is the first iteration<span class="token punctuation">.</span>
    @<span class="token keyword">endif</span>

    @<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$loop</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">last</span><span class="token punctuation">)</span>
        This is the last iteration<span class="token punctuation">.</span>
    @<span class="token keyword">endif</span>

    <span class="token operator">&lt;</span>p<span class="token operator">&gt;</span>This is user <span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">id</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>p<span class="token operator">&gt;</span>
@<span class="token keyword">endforeach</span>
</code></pre>
<p>If you are in a nested loop, you may access the parent loop’s <code>$loop</code> variable via the <code>parent</code> property:</p>
<pre class=" language-php"><code class="prism  language-php">@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>
    @<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">posts</span> <span class="token keyword">as</span> <span class="token variable">$post</span><span class="token punctuation">)</span>
        @<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$loop</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token keyword">parent</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">first</span><span class="token punctuation">)</span>
            This is the first iteration of the <span class="token keyword">parent</span> loop<span class="token punctuation">.</span>
        @<span class="token keyword">endif</span>
    @<span class="token keyword">endforeach</span>
@<span class="token keyword">endforeach</span>
</code></pre>
<p>The <code>$loop</code> variable also contains a variety of other useful properties:</p>
<p>Property</p>
<p>Description</p>
<p><code>$loop-&gt;index</code></p>
<p>The index of the current loop iteration (starts at 0).</p>
<p><code>$loop-&gt;iteration</code></p>
<p>The current loop iteration (starts at 1).</p>
<p><code>$loop-&gt;remaining</code></p>
<p>The iterations remaining in the loop.</p>
<p><code>$loop-&gt;count</code></p>
<p>The total number of items in the array being iterated.</p>
<p><code>$loop-&gt;first</code></p>
<p>Whether this is the first iteration through the loop.</p>
<p><code>$loop-&gt;last</code></p>
<p>Whether this is the last iteration through the loop.</p>
<p><code>$loop-&gt;even</code></p>
<p>Whether this is an even iteration through the loop.</p>
<p><code>$loop-&gt;odd</code></p>
<p>Whether this is an odd iteration through the loop.</p>
<p><code>$loop-&gt;depth</code></p>
<p>The nesting level of the current loop.</p>
<p><code>$loop-&gt;parent</code></p>
<p>When in a nested loop, the parent’s loop variable.</p>
<hr>
<h3 id="method-field"><a href="https://laravel.com/docs/8.x/blade#method-field">Method Field</a></h3>
<p>Since HTML forms can’t make <code>PUT</code>, <code>PATCH</code>, or <code>DELETE</code> requests, you will need to add a hidden <code>_method</code> field to spoof these HTTP verbs. The <code>@method</code> Blade directive can create this field for you:<br>
ال html<br>
مابتقبل احط <code>PUT</code>, <code>PATCH</code>, or <code>DELETE</code><br>
فلازم اعملن<br>
@method(‘PUT’)<br>
اسمن لحتى يعرفن الروات</p>
<pre class=" language-html"><code class="prism  language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>form</span> <span class="token attr-name">action</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>/foo/bar<span class="token punctuation">"</span></span> <span class="token attr-name">method</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>POST<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    @method('PUT')

    ...
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>form</span><span class="token punctuation">&gt;</span></span>
</code></pre>
<hr>
<h3 id="validation-errors"><a href="https://laravel.com/docs/8.x/blade#validation-errors">Validation Errors</a></h3>
<p>The <code>@error</code> directive may be used to quickly check if <a href="https://laravel.com/docs/8.x/validation#quick-displaying-the-validation-errors">validation error messages</a> exist for a given attribute. Within an <code>@error</code> directive, you may echo the <code>$message</code> variable to display the error message:</p>
<pre class=" language-html"><code class="prism  language-html"><span class="token comment">&lt;!-- /resources/views/post/create.blade.php --&gt;</span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">for</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>title<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Post Title<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>title<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>text<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>@error(<span class="token punctuation">'</span>title<span class="token punctuation">'</span>) is-invalid @enderror<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>

@error('title')
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>alert alert-danger<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>{{ $message }}<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
@enderror
</code></pre>
<p>Since the <code>@error</code> directive compiles to an “if” statement, you may use the <code>@else</code> directive to render content when there is not an error for an attribute:</p>
<pre class=" language-html"><code class="prism  language-html"><span class="token comment">&lt;!-- /resources/views/auth.blade.php --&gt;</span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">for</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Email address<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>@error(<span class="token punctuation">'</span>email<span class="token punctuation">'</span>) is-invalid @else is-valid @enderror<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
</code></pre>
<p>You may pass <a href="https://laravel.com/docs/8.x/validation#named-error-bags">the name of a specific error bag</a> as the second parameter to the <code>@error</code> directive to retrieve validation error messages on pages containing multiple forms:</p>
<pre class=" language-html"><code class="prism  language-html"><span class="token comment">&lt;!-- /resources/views/auth.blade.php --&gt;</span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">for</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Email address<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>@error(<span class="token punctuation">'</span>email<span class="token punctuation">'</span>, <span class="token punctuation">'</span>login<span class="token punctuation">'</span>) is-invalid @enderror<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>

@error('email', 'login')
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>alert alert-danger<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>{{ $message }}<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
@enderror
</code></pre>
<hr>
<pre class=" language-php"><code class="prism  language-php"> @<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token function">count</span><span class="token punctuation">(</span><span class="token variable">$records</span><span class="token punctuation">)</span> <span class="token operator">===</span> <span class="token number">1</span><span class="token punctuation">)</span>

I have one record<span class="token operator">!</span>

@<span class="token keyword">elseif</span> <span class="token punctuation">(</span><span class="token function">count</span><span class="token punctuation">(</span><span class="token variable">$records</span><span class="token punctuation">)</span> <span class="token operator">&gt;</span> <span class="token number">1</span><span class="token punctuation">)</span>

I have multiple records<span class="token operator">!</span>

@<span class="token keyword">else</span>

I don't have any records<span class="token operator">!</span>

@<span class="token keyword">endif</span>
</code></pre>
<hr>
<pre class=" language-php"><code class="prism  language-php">@<span class="token function">unless</span> <span class="token punctuation">(</span>Auth<span class="token punctuation">:</span><span class="token punctuation">:</span><span class="token function">check</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span>

You are not signed in<span class="token punctuation">.</span>

@endunless

  

@<span class="token function">isset</span><span class="token punctuation">(</span><span class="token variable">$records</span><span class="token punctuation">)</span>

<span class="token comment">// $records is defined and is not null...</span>

@endisset

  

@<span class="token function">empty</span><span class="token punctuation">(</span><span class="token variable">$records</span><span class="token punctuation">)</span>

<span class="token comment">// $records is "empty"...</span>

@endempty <span class="token operator">--</span><span class="token punctuation">}</span><span class="token punctuation">}</span>
</code></pre>
<hr>
<pre class=" language-php"><code class="prism  language-php">
@auth

<span class="token comment">// The user is authenticated...</span>

@endauth



@guest

<span class="token comment">// The user is not authenticated...</span>

@endguest 



@<span class="token function">auth</span><span class="token punctuation">(</span><span class="token string">'admin'</span><span class="token punctuation">)</span>

<span class="token comment">// The user is authenticated...</span>

@endauth



@<span class="token function">guest</span><span class="token punctuation">(</span><span class="token string">'admin'</span><span class="token punctuation">)</span>

<span class="token comment">// The user is not authenticated...</span>

@endguest 

</code></pre>
<hr>
<pre class=" language-php"><code class="prism  language-php">
‏يمكنك تحديد ما إذا كان مقطع توريث قالب يحتوي على محتوى باستخدام التوجيه<span class="token punctuation">:</span>‏@hasSection

  
  

@<span class="token function">hasSection</span><span class="token punctuation">(</span><span class="token string">'navigation'</span><span class="token punctuation">)</span>

<span class="token operator">&lt;</span>div <span class="token keyword">class</span><span class="token operator">=</span><span class="token string">"pull-right"</span><span class="token operator">&gt;</span>

@<span class="token keyword">yield</span><span class="token punctuation">(</span><span class="token string">'navigation'</span><span class="token punctuation">)</span>

<span class="token operator">&lt;</span><span class="token operator">/</span>div<span class="token operator">&gt;</span>

  

<span class="token operator">&lt;</span>div <span class="token keyword">class</span><span class="token operator">=</span><span class="token string">"clearfix"</span><span class="token operator">&gt;</span><span class="token operator">&lt;</span><span class="token operator">/</span>div<span class="token operator">&gt;</span>

@<span class="token keyword">endif</span> 

  
  
  

<span class="token punctuation">{</span><span class="token punctuation">{</span><span class="token operator">--</span> ‏يمكنك استخدام التوجيه لتحديد ما إذا كان مقطع لا تحتوي على محتوى<span class="token punctuation">:</span>‏sectionMissing

  

@<span class="token function">sectionMissing</span><span class="token punctuation">(</span><span class="token string">'navigation'</span><span class="token punctuation">)</span>

<span class="token operator">&lt;</span>div <span class="token keyword">class</span><span class="token operator">=</span><span class="token string">"pull-right"</span><span class="token operator">&gt;</span>

@<span class="token keyword">include</span><span class="token punctuation">(</span><span class="token string">'default-navigation'</span><span class="token punctuation">)</span>

<span class="token operator">&lt;</span><span class="token operator">/</span>div<span class="token operator">&gt;</span>

@<span class="token keyword">endif</span> 
</code></pre>
<hr>
<pre class=" language-php"><code class="prism  language-php">
@<span class="token keyword">switch</span><span class="token punctuation">(</span><span class="token variable">$i</span><span class="token punctuation">)</span>

@<span class="token keyword">case</span><span class="token punctuation">(</span><span class="token number">1</span><span class="token punctuation">)</span>

First <span class="token keyword">case</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>

@<span class="token keyword">break</span>



@<span class="token keyword">case</span><span class="token punctuation">(</span><span class="token number">2</span><span class="token punctuation">)</span>

Second <span class="token keyword">case</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>

@<span class="token keyword">break</span>



@<span class="token keyword">default</span>

<span class="token keyword">Default</span> <span class="token keyword">case</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>

@<span class="token keyword">endswitch</span> 
</code></pre>
<hr>
<pre class=" language-php"><code class="prism  language-php">
@<span class="token keyword">for</span> <span class="token punctuation">(</span><span class="token variable">$i</span> <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span> <span class="token variable">$i</span> <span class="token operator">&lt;</span> <span class="token number">10</span><span class="token punctuation">;</span> <span class="token variable">$i</span><span class="token operator">++</span><span class="token punctuation">)</span>

The current value is <span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$i</span> <span class="token punctuation">}</span><span class="token punctuation">}</span>

@<span class="token keyword">endfor</span>



@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>

<span class="token operator">&lt;</span>p<span class="token operator">&gt;</span>This is user <span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">id</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>p<span class="token operator">&gt;</span>

@<span class="token keyword">endforeach</span>



@<span class="token function">forelse</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>

<span class="token operator">&lt;</span>li<span class="token operator">&gt;</span><span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">name</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>li<span class="token operator">&gt;</span>

@empty

<span class="token operator">&lt;</span>p<span class="token operator">&gt;</span>No users<span class="token operator">&lt;</span><span class="token operator">/</span>p<span class="token operator">&gt;</span>

@endforelse



@<span class="token keyword">while</span> <span class="token punctuation">(</span><span class="token boolean">true</span><span class="token punctuation">)</span>

<span class="token operator">&lt;</span>p<span class="token operator">&gt;</span>I'm looping forever<span class="token punctuation">.</span><span class="token operator">&lt;</span><span class="token operator">/</span>p<span class="token operator">&gt;</span>

@<span class="token keyword">endwhile</span> 

@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>

@<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">type</span> <span class="token operator">==</span> <span class="token number">1</span><span class="token punctuation">)</span>

@<span class="token keyword">continue</span>

@<span class="token keyword">endif</span>



<span class="token operator">&lt;</span>li<span class="token operator">&gt;</span><span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">name</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>li<span class="token operator">&gt;</span>



@<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">number</span> <span class="token operator">==</span> <span class="token number">5</span><span class="token punctuation">)</span>

@<span class="token keyword">break</span>

@<span class="token keyword">endif</span>

@<span class="token keyword">endforeach</span> 



@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>

@<span class="token keyword">continue</span><span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">type</span> <span class="token operator">==</span> <span class="token number">1</span><span class="token punctuation">)</span>



<span class="token operator">&lt;</span>li<span class="token operator">&gt;</span><span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">name</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>li<span class="token operator">&gt;</span>



@<span class="token keyword">break</span><span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">number</span> <span class="token operator">==</span> <span class="token number">5</span><span class="token punctuation">)</span>

@<span class="token keyword">endforeach</span> 



@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>

@<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$loop</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">first</span><span class="token punctuation">)</span>

This is the first iteration<span class="token punctuation">.</span>

@<span class="token keyword">endif</span>



@<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$loop</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">last</span><span class="token punctuation">)</span>

This is the last iteration<span class="token punctuation">.</span>

@<span class="token keyword">endif</span>



<span class="token operator">&lt;</span>p<span class="token operator">&gt;</span>This is user <span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">id</span> <span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token operator">&lt;</span><span class="token operator">/</span>p<span class="token operator">&gt;</span>

@<span class="token keyword">endforeach</span> 



@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$users</span> <span class="token keyword">as</span> <span class="token variable">$user</span><span class="token punctuation">)</span>

@<span class="token keyword">foreach</span> <span class="token punctuation">(</span><span class="token variable">$user</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">posts</span> <span class="token keyword">as</span> <span class="token variable">$post</span><span class="token punctuation">)</span>

@<span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token variable">$loop</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token keyword">parent</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">first</span><span class="token punctuation">)</span>

This is the first iteration of the <span class="token keyword">parent</span> loop<span class="token punctuation">.</span>

@<span class="token keyword">endif</span>

@<span class="token keyword">endforeach</span>

@<span class="token keyword">endforeach</span>

</code></pre>
<hr>
<pre class=" language-php"><code class="prism  language-php">
@<span class="token keyword">include</span><span class="token punctuation">(</span><span class="token string">'view.name'</span><span class="token punctuation">,</span> <span class="token punctuation">[</span><span class="token string">'status'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token string">'complete'</span><span class="token punctuation">]</span><span class="token punctuation">)</span>

@<span class="token function">includeIf</span><span class="token punctuation">(</span><span class="token string">'view.name'</span><span class="token punctuation">,</span> <span class="token punctuation">[</span><span class="token string">'status'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token string">'complete'</span><span class="token punctuation">]</span><span class="token punctuation">)</span> <span class="token operator">--</span><span class="token punctuation">}</span><span class="token punctuation">}</span>



<span class="token keyword">If</span> you would like to @<span class="token keyword">include</span> a view <span class="token keyword">if</span> a given boolean expression evaluates to <span class="token boolean">true</span> <span class="token keyword">or</span> <span class="token boolean">false</span><span class="token punctuation">,</span> you may <span class="token keyword">use</span> <span class="token package">the</span> @includeWhen <span class="token keyword">and</span> @includeUnless directives<span class="token punctuation">:</span>



@<span class="token function">includeWhen</span><span class="token punctuation">(</span><span class="token variable">$boolean</span><span class="token punctuation">,</span> <span class="token string">'view.name'</span><span class="token punctuation">,</span> <span class="token punctuation">[</span><span class="token string">'status'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token string">'complete'</span><span class="token punctuation">]</span><span class="token punctuation">)</span>



@<span class="token function">includeUnless</span><span class="token punctuation">(</span><span class="token variable">$boolean</span><span class="token punctuation">,</span> <span class="token string">'view.name'</span><span class="token punctuation">,</span> <span class="token punctuation">[</span><span class="token string">'status'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token string">'complete'</span><span class="token punctuation">]</span><span class="token punctuation">)</span> <span class="token operator">--</span><span class="token punctuation">}</span><span class="token punctuation">}</span>




To <span class="token keyword">include</span> the first view that exists from a given <span class="token keyword">array</span> of views<span class="token punctuation">,</span> you may <span class="token keyword">use</span> <span class="token package">the</span> includeFirst directive<span class="token punctuation">:</span>



@<span class="token function">includeFirst</span><span class="token punctuation">(</span><span class="token punctuation">[</span><span class="token string">'custom.admin'</span><span class="token punctuation">,</span> <span class="token string">'admin'</span><span class="token punctuation">]</span><span class="token punctuation">,</span> <span class="token punctuation">[</span><span class="token string">'status'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token string">'complete'</span><span class="token punctuation">]</span><span class="token punctuation">)</span> <span class="token operator">--</span><span class="token punctuation">}</span><span class="token punctuation">}</span>
</code></pre>
<hr>
<pre class=" language-php"><code class="prism  language-php"> <span class="token operator">&lt;</span>form method<span class="token operator">=</span><span class="token string">"POST"</span> action<span class="token operator">=</span><span class="token string">"/profile"</span><span class="token operator">&gt;</span>

@csrf

  

<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>

<span class="token operator">&lt;</span><span class="token operator">/</span>form<span class="token operator">&gt;</span> 
</code></pre>
<hr>
<pre><code>php artisan view:cache
You may use the view:clear command to clear the view cache:

php artisan view:clear
</code></pre>
</div>
</body>

</html>
